<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block body_block %}
<head>
{% load staticfiles %}
</head>

<body>
<!--   <div class="container">
    <div class="jumbotron">
      <h1><u>The Team:</u></h1>
      <br></br>
      <img id="james"src='{% static "images/james.jpg" %}'>
      <h2><br></br> Mr. James Navalta</h2>
      <h2>Creator of GrumboBot/Lead Developer</h2>
<br></br>
</div>

    <div class="jumbotron">
      <img id="marcos"src='{% static "images/marcos.jpg" %}'>
      <br></br>
      <h2>Mr. Marcos Ortega</h2>
      <h2>Lead Web Developer/Game Designer</h2> -->
    </div>
    </div>

</body>
</html>
{% endblock %}
