<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My Django Site </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">

  </head>
  <body>
<nav class = 'navbar navbar-default  navbar-static-top'>
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
      <li><a class="navbar-link" href="{% url 'guide' %}">Guide</a></li>
      <li><a class="navbar-link" href="{% url 'commands'%}">Commands</a></li>
      <li><a class="navbar-link" href="{% url 'classes'%}">Classes</a></li>
      <li><a class="navbar-link" href="{% url 'stats'%}">Stats</a></li>
      <li><a class="navbar-link" href="{% url 'boss'%}">Bosses</a></li>
      <li><a class="navbar-link" href="https://discordapp.com/oauth2/authorize?client_id=485285356598591509&scope=bot">Add To Server</a></li>
      <li><a class="navbar-link" href="https://discordapp.com/channels/455501253653561366/485499823051636746">Discord</a></li>
      <li><a class="navbar-link" href="{% url 'about'%}">About</a></li>


      <!-- <li><a class="navbar-link" href="https://cl1.widgetbot.io/channels/485499823051636746/489248576434601995">Discord</a></li> -->
      <!-- <a class="navbar-link" href="https://widgetbot.io/channels/485499823051636746/489248576434601995">Discord2</a></li>  -->

       <!-- {% if user.is_authenticated %}
      <li> <a class ="navbar-link" href="{}" >Logout</a></li>
      {% else %}
      <li> <a class ="navbar-link" href="{}" >Login</a></li>
      {% endif %} -->

    </ul>
  </div>
</nav>
<div class="container">

  {% block body_block %}
  #Anything outside of this will be inherited if you extend
  {% endblock %}
</div>
  </body>
</html>
