<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block body_block %}


<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome To GrumboBot!</h1>
<br></br>
     <h2> Fight against Grumbos, challenge your friends to wagers, buy items, rise up the leaderboards and more!</h2>
      <br></br>
      <h2>To add GrumboBot to your server click on the "Add to Server" tab above.</h1> <br></br>
      <h2>All other info please select the corresponding tab above.</h1>
      <!-- <h2>{{ inject.me }}</h3> -->
    </div>
  </div>
<iframe src="https://discordapp.com/widget?id=455501253653561366&theme=dark" width="1150" height="600" allowtransparency="true" frameborder="0"></iframe></html>
{% endblock %}
